<div class="row">
  <div class="col-lg-6" af-field-state af-feedback af-message-id="user.period.from">
    <input type="text" date class="form-control" name="user.period.from" af-field ng-model="from" />
    <label class="control-label">From (YYYY-MM-DD)</label>
    <div af-message="user.period.from"></div>
    {{from}}
  </div>
  <div class="col-lg-6" af-field-state af-feedback af-message-id="user.period.to">
    <input type="text" date class="form-control" name="user.period.to" af-field ng-model="to" />
    <label class="control-label">To (YYYY-MM-DD)</label>
    <div af-message="user.period.to"></div>
    {{to}}
  </div>
</div>
